.container.upload-container
  %h4.mbm
    %p.upload-header Drag & Drop a File
    .upload-subheader Or select an option below
  %form.upload-form
    .row.mbm
      %span.btn.btn-success.fileinput-button.custom-button
        %i.fa.fa-plus.fa-4x.mtrs
        %p.mtss Select files...
        %input#fileupload{multiple: "multiple", name: "files[]", type: "file"}
      %button.btn.btn-primary.start.custom-button{type: "submit"}
        %i.fa.fa-upload.fa-4x.mtrs
        %p.mtss Start upload
    .row.mbm.files
      %table.upload-table.full-width.table-striped
        %thead
          %tr
            %th{class:"col-md-2"} File Name
            %th{class:"col-md-1"} File Size
            %th{class:"col-md-1"} Progress
            %th{class:"col-md-1"} Delete
        %tbody
  .upload-footer
    %p Confirmation emails will be sent to #{@dest_email} and to #{@sender_email} when the upload is complete.
    %p Your files will be retained for #{@keep_days} days.
    %p Maximum file size is #{(@max_file_size.to_f/(1024 * 1024)).round(2)} MB.

%script{:id => "template", :type => "text/template"}
  %tr{:class=> 'upload-{{fileNumber}}'}
    %td.col-md-2 {{ file.name }}
    %td.col-md-1 {{ (file.size/1024/1024).toFixed(2) }} MB
    %td.col-md-1
      .progress.progress-striped.active.mts
        .progress-bar
          %span.sr-only
          %span.status
    %td
      %span.btn.btn-danger
        %i.fa.fa-times

%script{src: "/js/underscore.js"}
%script{src:"/js/hmac-sha1.js"}
%script{src: "/js/enc-base64-min.js"}

%script{src: "/js/customized/config.js"}
%script{src: "/js/customized/template-renderer.js"}
%script{src: "/js/customized/handler.js"}
%script{src: "/js/customized/uploader-form.js"}
%script{src: "/js/customized/upload.js"}
%script{src: "/js/customized/upload-part.js"}
%script{src: "/js/customized/uploader.js"}
// will only work with auth v2
// must be all lower case bucket
// 1000 max parts for multipart. change multipart min size accordingly
// add <ExposeHeader>ETag</ExposeHeader> to CORS

:javascript
  $( document ).ready(function() {

    var handlerOptions = {
      allUploadsFinishedHandler: function(){
        $.ajax({
          url: '/notifications/' + '#{@folder_name}' +'/'+ '#{@sender_email}' +'/'+ '#{@dest_email}',
          type: 'POST',
          context: this,
          dataType: 'json'
        })
      }
    }

    config = new Config(#{@max_file_size}, '#{$BUCKET}', '#{$AWS_ACCESS_KEY_ID}', '#{$AWS_SECRET}', '#{@folder_name}')
    new Uploader(config, handlerOptions);
  });