<style type="text/css">@import url(/css/jquery.plupload.queue.css);</style>

<!-- Load plupload and all it's runtimes and finally the jQuery queue widget -->
<script type="text/javascript" src="/js/moxie.js"></script>
<script type="text/javascript" src="/js/plupload.js"></script>
<script type="text/javascript" src="/js/jquery.plupload.queue/jquery.plupload.queue.js"></script>

<script>
  $(function() {
    var el = $("#uploader");

    el.pluploadQueue({
      // General settings
      runtimes : 'html5',
      // Flash settings
      flash_swf_url : '/flash/Moxie.swf',
      chunk_size: '5mb',
      max_file_size: '<%= @max_file_size %>',
      max_retries: 3,
      // S3 specific settings
      url : "/uploads_temp",
      file_name_name: false,
      multipart: true
    });

    var uploader = el.pluploadQueue();

    uploader.bind('BeforeUpload', function(up, file) {
      up.settings.multipart_params = {filename : file.name};
    });

    uploader.bind('FileUploaded', function(up, file) {
      $.ajax({
          url: '/amazon_upload',
          type: 'POST',
          data: {
            filename : file.name,
            sender_email : '<%= @sender_email %>',
            dest_email : '<%= @dest_email %>'},
            success: function(data){
                return false
            }
        });
    });
  });
</script>

Please upload your files here.
A confirmation email will be sent to you and to <%= @sender_email %> when the upload has completed.
Your files will be retained for <%= @keep_days %> days.
<form>
  <div id="uploader"></div>
</form>
